.shops-cont{
  max-width: 48rem;
  max-height: 40rem;
  position: relative;
  left: 200px;
  top: -305px;
}

.Search {
    width: 55%;
    margin:0 auto;
    padding-top: 250px;
    padding-bottom: 100%;
}

.sp{
  margin: 9px;
}

.spx{
  /* position: absolute; */
    margin:10px;
    /* left: 100px;
    top: -990%" */
}

.sp_spinner{
    margin:100px;
}

.About {
    width: 55%;
    margin:0 auto;
    padding-top: 250px;
    padding-bottom: 100%;
}

.btn-search{
	     color: #fff;
    background-color: #02B875;
    border-color: #02B875;
}

.results{
	padding-top: 80px;
	padding-bottom: 100%;
}

.results_low{
	padding-top: 40px;
	padding-bottom: 100%;
}

.fil-container{
  padding-top: 10px;
	padding-bottom: 10%;
}

.portfolio-item{
	 padding-bottom: 32px;
}

.ResultSearch{
	width: 55%;
    margin:0 auto;
    padding-top: 100px;
}

#searchProgress {
  width: 85%;
  background-color: white;
  display: none;
}

#searchProgressBar {
  width: 1%;
  height: 30px;
  background-color: #F2F2F2;
}
