{
  "SENTRY_DSN": "sentry log key goto https://sentry.io/",
  "API_KEY": "ur api key",
  "ENVIRONMENT": "dev",
  "DATABASE_URL": "your postgres url",
  "API_MAX_USAGE": 100,
  "API_MAX_USAGE_DAYS": 2,
  "SHOP_CACHE_MAX_EXPIRY_TIME": 30,
  "SHOP_CACHE_LOOKUP_SET": true,
  "SUPER_USER": false,
  "SAVE_TO_DB": true,
  "SET_LOG_LEVEL": "WARNING"
}
