@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

@media screen and (min-width:320px) and (max-width:800px){
  /* for screens that are at least 320 pixels wide but less than or equal to 800 pixels wide */
  .input-group-append {
      margin: 8px auto 0;
      justify-content: center;
  }

  .Search,
  .ResultSearch {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero-title {
    font-size: 1.6rem;
  }

  #search_form {
    flex-wrap: wrap;
    border-radius: 20px;
  }

  #searchbar {
    width: 100% !important;
  }
}
